{% extends 'blog/base.html' %}

{% block content %}
    <div class="jumbotron">
        <h2>Login Here </h2>
        <p>Must be Superuser, please check with the site admin </p>

        {% if form.errors %}
            <p>yourname and password didn't match!</p>
        {% endif  %}

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
                {% form.as_p  %}
                <input type="submit" class="btn btn-primary" value="login">
                <input type="hidden" name="next" value="{{next}}">
        </form>
    </div>
{% endblock content %}